<h1>Library Employee Page</h1>

<a href="/librarian/add_book">Add Book</a>
<br>
<a href="/librarian/add_patron">Add Patron</a>
<br>
<a href="/librarian/books">View Books</a>
<br>
<a href="/librarian/view_patrons">View Patrons</a>
