<h1>Sign in</h1>
<h3>Use your ID Number</h3>

<form action="/patron">
  <input type="text" name="id_number" id="id_number" placeholder="Enter #ID here">
  <button type="submit" name="button">Sign-In</button>
</form>
